body {
  background-color: black;

}

.title {
  text-align: center;
  font-family: 'Monoton', regular;
  color: white;

}




.name {
  font-family: 'Candal', sans-serif;

}
.go {
  display: none;

  text-align: center;




}

.python {
  display: none;

  text-align: center;

}

.rust {
  display: none;

  text-align: center;

}

.error {
  display: none;

  text-align: center;


}

#form {
  display: inline-grid;
}

.card {


  margin: auto;
  height: 300px;
  width: 50%;
  border: 15px solid grey;
  padding: 10px;
  overflow: scroll;


}

button {
  margin-top: 10px;
}


.go-class {
  background-color: dodgerblue;
  font-family: 'Livvic', sans-serif;

}

.python-class {
  background-color: gold;
  color: navy;
  font-family: 'Livvic', sans-serif;

}
.rust-class {
  background-color: seagreen;
  font-family: 'Livvic', sans-serif;
  color: seagreen;

}
