body {
  background-color: red;
  position: relative;
}

p {
  width: 300px;
  height: 300px;
  border: 15px solid black;
  padding: 20px;
  margin: 20px;

}
.go {
  display: none;
  float: right;
  text-align: center;




}

.python {
  display: none;
  float: right;
  text-align: center;

}

.rust {
  display: none;
  float: right;
  text-align: center;

}

.error {
  display: none;
  float: right;
  text-align: center;


}

.card {
  position: absolute;
  width: 300px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;

}

img {
  height: 100px;
  width: 100px;
  float: right;

}

.go-class {
  background-color: dodgerblue;
  color: white;
}

.python-class {
  background-color: yellow;
  color: navy;
}
.rust-class {
  background-color: seagreen;
  color: white;
}
.error-class {
  background-color: dodgerblue;
}
