body {
  background-color: red;

}


.go {
  display: none;
  
  text-align: center;




}

.python {
  display: none;

  text-align: center;

}

.rust {
  display: none;

  text-align: center;

}

.error {
  display: none;

  text-align: center;


}

.card {

  width: 700px;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;

}

img {
  height: 100px;
  width: 100px;
  float: right;

}

.go-class {
  background-color: dodgerblue;

}

.python-class {
  background-color: yellow;
  color: navy;
}
.rust-class {
  background-color: seagreen;
  color: white;
}
.error-class {
  background-color: dodgerblue;
}
